<!-- window title -->
<% provide(:title, 'MIKAN') %>

<!-- body -->
<div style="margin: 0px auto 0 auto;">
	<div class="off-canvas-wrap">
		<div class="inner-wrap">
			<!-- top-bar -->
			<div class="fixed">
				<nav class="top-bar" data-topbar>
					<!-- <ul class="title-area"> -->
					<ul class="center">
						<li class="name">
							<h1><div id="service_name">MIKAN</div></h1>
						</li>
					</ul>
				</nav>
			</div>

			<!-- Tab-bar -->
			<nav class="tab-bar">
				<section class="left-small">
					<a class="left-off-canvas-toggle menu-icon" ><span></span></a>
				</section>
				<section class="middle tab-bar-section" style="text-align: center">
					<h2 class="title"><i class="fa fa-twitter fa-3x"></i></h2>
				</section>
			</nav>

			<!-- Off Canvas Menu -->
			<aside class="left-off-canvas-menu">
				<!-- whatever you want goes here -->
				<ul class="off-canvas-list">
					<li><label><i class="fa fa-heart fa-lg fa-fw"></i> Category</label></li>
					<li><%= link_to root_path do %><i class="fa fa-glass fa-fw"></i> Sake <i class="fa fa-check-circle fa-lg fa-fw"></i><% end %></li>
					<li><%= link_to root_path do %><i class="fa fa-glass fa-fw"></i> Wine <% end %></li>
					<li><%= link_to root_path do %><i class="fa fa-glass fa-fw"></i> Bear <% end %></li>
					<li><%= link_to root_path do %><i class="fa fa-glass fa-fw"></i> Shochu <% end %></li>
					<li><label><i class="fa fa-search fa-lg fa-fw"></i> Data Source</label></li>
					<li><%= link_to root_path do %><i class="fa fa-twitter fa-lg fa-fw"></i> Twitter <i class="fa fa-check-circle fa-lg fa-fw"></i><% end %></li>
					<li><%= link_to root_path do %><i class="fa fa-facebook fa-lg fa-fw"></i> Facebook<% end %></li>
					<li><%= link_to root_path do %><i class="fa fa-google-plus fa-lg fa-fw"></i> Google+<% end %></li>
					<li><label><i class="fa fa-calendar fa-lg fa-fw"></i> Search Period</label></li>
					<li><%= link_to root_path do %><i class="fa fa-angle-double-right fa-lg fa-fw"></i> 1 Day <i class="fa fa-check-circle fa-lg fa-fw"></i><% end %></li>
					<li><%= link_to root_path do %><i class="fa fa-angle-double-right fa-lg fa-fw"></i> 1 Week <% end %></li>
					<li><%= link_to root_path do %><i class="fa fa-angle-double-right fa-lg fa-fw"></i> 1 Month <% end %></li>
				</ul>
			</aside>
			<!-- bubble area -->
			<div style="width:100%;">
				<div id="container" style="margin: 24px auto 0 auto;">
				</div>
			</div>
			<!-- close the off-canvas menu -->
			<a class="exit-off-canvas"></a>
		</div>
	</div>


</div>


